@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #ffffff;
    --cor-segundo: #0466C8;
    --cor-botao: #004183;
    --cor-terceiro: #BA181B;
    --cor-quarto: #6FFFE9;
    --cor-quinto: #07BEB8;
    --font-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: var(--font-principal);
    background-color: var(--cor-botao);
    color: var(--cor-primaria);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.conteudo {
    background-image: url("background group.png");
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 20px; 
    width: 100%; 
}

.titulo {
    font-size: 8vw; 
    font-weight: 100;
    padding-top: 5vh; 
    padding-bottom: 5vh;
}

.paragrafo {
    font-size: 4vw; 
    font-weight: 100;
    margin-bottom: 3vh; 
}

.paragrafo2 {
    font-size: 4vw; 
    font-weight: 100;
    margin-bottom: 5vh; 
    padding-bottom: 10px;
}

strong1 {
    color: var(--cor-segundo);
    font-weight: bold;
}

strong3 {
    color: var(--cor-terceiro);
    font-weight: bold;
}

strong4 {
    color: var(--cor-quarto);
    font-weight: bold;
}

strong5 {
    color: var(--cor-quinto);
    font-weight: bold;
}

strong6 {
    font-weight: bold;
}

.botao {
    display: flex;
    justify-content: center;
    padding-top: 40px; 
    width: 80%; 
    max-width: 300px;
    margin-right: 2px;
    margin-left: 30px;
}

@media (max-width: 600px) {
    .titulo {
        font-size: 10vw; 
    }

    .paragrafo,
    .paragrafo2 {
        font-size: 5vw; 
    }
}
